.lkt-paginator {
    display: var(--lkt-paginator--display, flex);
    align-items: var(--lkt-paginator--align-items, center);
    justify-content: var(--lkt-paginator--justify-content, center);
    overflow-x: auto;
    width: var(--lkt-paginator--width, 100%);
    max-width: var(--lkt-paginator--max-width, 100%);
    flex-wrap: var(--lkt-paginator--flex-wrap, wrap);
    gap: var(--lkt-paginator--gap);
}

.lkt-paginator .number-page,
.lkt-paginator .symbol-page {
    --lkt-button--color: var(--lkt-paginator--color);
    --lkt-button--background: var(--lkt-paginator--background);
    --lkt-button--border-color: var(--lkt-paginator--border-color);

    --lkt-button--hover--color: var(--lkt-paginator--hover--color);
    --lkt-button--hover--background: var(--lkt-paginator--hover--background);
    --lkt-button--hover--border-color: var(--lkt-paginator--hover--border-color);
}

.lkt-paginator .number-page {
    --lkt-button--min-width: var(--lkt-paginator--number-page--min-width);
    --lkt-button--min-height: var(--lkt-paginator--number-page--min-height);
}

.lkt-paginator .symbol-page {
    --lkt-button--min-width: var(--lkt-paginator--symbol-page--min-width);
    --lkt-button--min-height: var(--lkt-paginator--symbol-page--min-height);
}