.lkt-paginator {
    display: var(--lkt-paginator--display, flex);
    align-items: var(--lkt-paginator--align-items, center);
    justify-content: var(--lkt-paginator--justify-content, center);
    overflow-x: auto;
    width: var(--lkt-paginator--width, 100%);
    max-width: var(--lkt-paginator--max-width, 100%);
    flex-wrap: var(--lkt-paginator--flex-wrap, wrap);
    gap: var(--lkt-paginator--gap);

    --lkt-btn-color: var(--lkt-paginator--color);
    --lkt-btn-bg: var(--lkt-paginator--background);
    --lkt-btn-border-color: var(--lkt-paginator--border-color);

    --lkt-btn-color-hover: var(--lkt-paginator--hover--color);
    --lkt-btn-bg-hover: var(--lkt-paginator--hover--background);
    --lkt-btn-border-color-hover: var(--lkt-paginator--hover--border-color);
}

.lkt-paginator .number-page {
    --lkt-btn-min-width: var(--lkt-paginator--number-page--min-width);
    --lkt-btn-min-height: var(--lkt-paginator--number-page--min-height);
}

.lkt-paginator .symbol-page {
    --lkt-btn-min-width: var(--lkt-paginator--symbol-page--min-width);
    --lkt-btn-min-height: var(--lkt-paginator--symbol-page--min-height);
}