.lkt-paginator {
    display: flex;
    align-items: center;
    justify-content: var(--lkt-paginator-justify-content);
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    gap: var(--lkt-paginator-gap);

    --lkt-btn-color: var(--lkt-paginator-color);
    --lkt-btn-bg: var(--lkt-paginator-bg);
    --lkt-btn-border-color: var(--lkt-paginator-border-color);


    --lkt-btn-color-hover: var(--lkt-paginator-color-hover);
    --lkt-btn-bg-hover: var(--lkt-paginator-bg-hover);
    --lkt-btn-border-color-hover: var(--lkt-paginator-border-color-hover);
}

.lkt-paginator .number-page {
    --lkt-btn-min-width: var(--lkt-paginator-number-page-min-width);
    --lkt-btn-min-height: var(--lkt-paginator-number-page-min-height);
}

.lkt-paginator .symbol-page {
    --lkt-btn-min-width: var(--lkt-paginator-symbol-page-min-width);
    --lkt-btn-min-height: var(--lkt-paginator-symbol-page-min-height);
}