.lkt-paginator {
    --lkt-paginator--align-items: center;
    --lkt-paginator--background: #007ebc;
    --lkt-paginator--border-color: #ddd;
    --lkt-paginator--color: #ffffff;
    --lkt-paginator--display: flex;
    --lkt-paginator--gap: 10px;
    --lkt-paginator--justify-content: center;
    --lkt-paginator--flex-wrap: wrap;
    --lkt-paginator--max-width: 100%;
    --lkt-paginator--width: 100%;

    /** Element: Number Page */
    --lkt-paginator--number-page--min-height: 35px;
    --lkt-paginator--number-page--min-width: 35px;

    /** Element: Symbol Page */
    --lkt-paginator--symbol-page--min-height: 35px;
    --lkt-paginator--symbol-page--min-width: 35px;

    /** Event: hover */
    --lkt-paginator--hover--background: var(--lkt-paginator--background);
    --lkt-paginator--hover--border-color: var(--lkt-paginator--border-color);
    --lkt-paginator--hover--color: var(--lkt-paginator--color);
}